@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Raleway:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

@font-face {
    font-family: 'MyriadPro-Bold';
    src: url(../fonts/MyriadPro-Bold.otf);
}

@font-face {
    font-family: 'MyriadPro-BoldCond';
    src: url(../fonts/MyriadPro-BoldCond.otf);
}

body{
    background-color: #f7d917;
    font-family: 'MyriadPro-Bold', sans-serif;
    /* font-family: 'Raleway', sans-serif; */
}

.section{
    padding: 60px 0;
}

.wrapper{
    max-width: 1650px;
    padding: 0 30px;
    margin: 0 auto;
    /* background-color: #f7d917; */
}

.section-title{
    font-size: 7rem;
    text-align: center;
    margin: 50px 0;
}


/* header */

.burger-btn{
    display: none;
}


.header{
    padding: 19px 30px;
    position: absolute;
    top: 0;
    left: 50%;
    z-index: 1;
    transform: translateX(-50%);
    box-sizing: border-box;
    width: 100%;
    transition: .3s;
}

.header.fixed{
    position: fixed;
    background-color: #f7d917;
    padding: 5px;
    width: 100%;
    /* box-shadow: 0 20px 20px rgba(0, 0, 0, .2), 0 0 50px rgba(0, 0, 0, .2); */
    transition: .3s;
    z-index: 1;
}

.header-inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1550px;
    margin: 0 auto;
}

.header a{
    font-size: 1.2rem;
    color: #78291c;
    font-weight: bold;
    padding: 15px;
}

.header a:hover{
    color: #f7d917;
    background-color: #78291c;
    transition: .8s;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.nav-list{
    display: flex;
}

.nav-item{
    margin-right: 60px;
}

.nav-item:last-of-type{
    margin-right: 0;
}



.logo img{
    position: relative;
    width: 150px;
}


/* hero */

.hero{
    height: 100vh;
    min-height: 550px;
    position: relative;
}

.hero-wrapper{
    height: 90%;
    width: 80%;
    background-image: url(../images/21.png);
    background-size: cover;
    background-position: center 0;
    position: relative;
    top: 150px;
    right: 300px;
    z-index: 2;
}

.hero img{
    width: 300px;
    position: relative;
    left: 1090px;
    top: 10px;
    padding: 0 60px;
    /* opacity: .85; */
}
      
.copy{
    width: 500px;
    font-size: 4rem;
    line-height: 7rem;
    color: #78291c;
    /* font-family: 'Monsterrat', sans-serif; */
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    text-align-last: right;
    position: relative;
    top:  30px;
    left: 1450px;
}

.hero-btn{
    font-size: 2rem;
    font-weight: bold;
    color: #fff;
    background-color: #78291c;
    padding: 20px 80px;
    position: relative;
    top: 100px;
    left: 1650px;
    border-radius: 50px;
    text-transform: uppercase;
}

.hero-btn:hover{
    opacity: .9;
    border: 8px solid #78291c;
}

/* coffee */
.coffee-section{
    margin-top: 100px;
}

.cards{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    perspective: 1000px;
}

.card-container{
    width: 2%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.card{
    background-color: #78291c;
    transform-style: preserve-3d;
    min-height: 80vh;
    width: 35rem;
    border-radius: 30px;
    padding: 0 5rem;
    box-shadow: 0 20px 20px rgba(0, 0, 0, .2), 0 0 50px rgba(0, 0, 0, .2);
}

.coffee{
    min-height: 35vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.coffee img{
    width: 20rem;
    margin: 25px 0 5px 0;
    /* z-index: -2; */
    transition: all 0.75s ease-out;
}

.info h2{
    color: #fff;
    font-size: 3rem;
    text-align: center;
    transition: all .75s ease-out;
}

.info h3{
    font-size:  1.3rem;
    padding: 2rem 0;
    /* color: #585858; */
    color: #fff;
    font-weight: lighter;
    text-align: center;
    transition: all 0.75s ease-out;
}

/* about */
.about-section{
    height: 55vh;
    color: #fff;
    background-color: #78291c;
    
}

.about-text{
    width: 900px;
    font-size: 1.2rem;
    text-align: center;
    margin: 0 auto;
}

/* contact */
.contact-section{
    height: 60vh;
    color: #78291c;
    padding: 0;

}



.container{
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px 100px;
    /* margin-top: 60px; */
}

.contact-box{
	max-width: 1000px;
    height: 400px;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	justify-content: center;
	align-items: center;
	text-align: center;
	background-color: #fff;
	box-shadow: 0px 0px 19px 5px rgba(0,0,0,0.19);
}

.left{
    padding: 25px 40px;
}

.right{
	padding: 25px 40px;
}

h2{
	position: relative;
	padding: 0 0 10px;
	margin-bottom: 10px;
    color: #78291c;
}

h2:after{
	content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 4px;
    width: 50px;
    border-radius: 2px;
    background-color: #f7d917;
}

.field{
	width: 100%;
	border: 2px solid rgba(0, 0, 0, 0);
	outline: none;
	background-color: rgba(230, 230, 230, 0.6);
	padding: 0.5rem 1rem;
	font-size: 1.1rem;
	margin-bottom: 22px;
	transition: .3s;
}

.field:hover{
	background-color: rgba(0, 0, 0, 0.1);
}

.btn{
	width: 100%;
	padding: .8rem 1rem;
	background-color: #78291c;
	color: #fff;
	font-size: 1.1rem;
    text-transform: uppercase;
	border: none;
	outline: none;
	cursor: pointer;
	transition: .3s;
}

.btn:hover{
    opacity: .9;
    color: #f7d917;
}

.field:focus{
    border: 2px solid #78291c;
    background-color: #fff;
}



/* footer */
.footer {
    display: flex;
    flex-flow: row wrap;
    padding: 50px 0 0 400px;
    color: #fff;
    background-color: #78291c;
}
    
.footer > * {
    flex:  1 100%;
}
    
.l-footer {
    margin-right: 20px;
    margin-bottom: 32px;
    flex: 1 0px;
    }
    
footer h2 {
    color: #f7d917;
}

footer h2::after{
    display: none;
}
    
.footer ul {
    padding-left: 0;
}
    
.footer li {
    line-height: 32px;
}
    
.r-footer {
    display: flex;
    flex: 2 0px;
}
    
.r-footer > * {
    margin-right: 1.25em;
}
    
.box a {
    color: #999;
}
    
.l-footer p {
    padding-right: 20%;
    color: #999;
}   
    
.r-footer > * {
    flex: 1;
}
    
.features {
    flex-grow: 2;
}
    

